.Title {
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(108, 108, 108);
    margin-bottom: 20px;
}

.Subtitle {
    font-size: 1em;
    color: Black;
}

.loader {
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column; /* Set direction to column */
    justify-content: center;
    align-items: center;
    width: 100vw; /* Set width to 100% for responsiveness */
}