.VideoMkr {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}

.ProcessSteps {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.settings {
    width: 100%;
}
