/* .VideoMkr {
    border-top: 4px solid black;
    border-radius: 40px;
    display: flexbox;
    text-align: center;
}
.settings{
    display: inline-block;
    border: 1px solid black;
}
button{
    max-width: '200px',
} */